
.Experiment__Metadata{
    position: absolute;
    z-index: 100;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

.Experiment__FullScreenButton{
  height: 20px;
  width: 20px;
  padding: 0;
}

.dimmed{
  opacity: 0.5;
}

.Experiment__Content{
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

.Experiment__Text{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    margin-left: 15px;
    color: #fff;
}  

.Experiment__Text.active {
  color: #fff; 
}

.Experiment__Name{
  font-weight: bold;
  font-size: 1em;
  color: #fff;
}
.Experiment__Author{
  font-style: italic;
  font-size: 1em;
  color: #fff;
}
.Experiment__Description{
  font-size: 0.8em;
  min-width: 400px;
}



