.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #222;
  color: #fff;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.App__Content {
  flex-grow: 1;
  height: 100%;
}

.ExperimentLinks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ExperimentLinks__Link {
  margin: 1rem 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #888;
}

.ExperimentLinks__Link.active {
  color: #fff;
}
